<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhoBaKO9kaUsQyHpOaoOMwcWjD4mvqeOk</string>
	<key>GCM_SENDER_ID</key>
	<string>211879917363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.septian.Ice-Cream-App</string>
	<key>PROJECT_ID</key>
	<string>ice-cream-app-17c0b</string>
	<key>STORAGE_BUCKET</key>
	<string>ice-cream-app-17c0b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>New item</key>
	<string></string>
	<key>GOOGLE_APP_ID</key>
	<string>1:211879917363:ios:a63f4889c9892c45f5b046</string>
</dict>
</plist>
